Hi #{@user.name},

Your watchlist "#{@watchlist.name}" has been updated

#{@watchlist.url}

This email was sent by GoWatchlist (https://www.gowatchlist.com)
If you don't want to receive this type of email in the future, please visit our site and delete your watchlists.
